{% extends "home.html" %}
{% load static %}

{% block title %}Marks{% endblock %}
{% block css %}<link rel="stylesheet" href="{%static './css/marks.css'%}" />{% endblock %}




{% block content %}
<div class="hero"><h2 >Exam Marks</h2></div>

{% for attempt in attempts %}
    <div class="marks-card">
        <h3 class="examtitle">Exam name: {{ attempt.exam.title }}</h3>
        <p>Exam Taker: {{ attempt.student }}</p>
        <p>Marks: {{ attempt.score }}</p>
    </div>
{% empty %}
    <p >No exams found.</p>
{% endfor %}
{% endblock %}
