{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Proctor Dashboard – Exam {{ exam_id }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/pdash.css' %}">

</head>

<body>

    <div class="dashboard-container">

        <h1>
            Exam {{ exam_id }} – Live Proctor Dashboard
        </h1>
        <div class="dashboard-actions">

            <a
                href="{% url 'generate_report' exam_id %}"
                class="report-btn"
            >
                Download Report
            </a>
        
        </div>

        <div class="table-card">

            <table>

                <thead>
                    <tr>
                        <th>Student Session</th>
                        <th>Status</th>
                        <th>Violation Count</th>
                        <th>Risk Score</th>
                        <th>Latest Event</th>
                    </tr>
                </thead>

                <tbody id="student-table">
                    <!-- rows added dynamically -->
                </tbody>

            </table>

        </div>

    </div>

    <script>
        const EXAM_ID = "{{ exam_id }}";
    </script>

    <script src="{% static 'js/Proctor/dashboard.js' %}"></script>

</body>

</html>