h1,h2{
    color:red;
    text-align: center;
}

.exam-title {
    font-weight: bold;
    display: inline-block; 
    vertical-align: middle; 
    margin-right: 10px; }


    .form {
        display: inline-block; 
        vertical-align: middle; 
    }
    p{
        font-size: 30px;
        
    }