html {
    font-family: Arial, sans-serif;
}
h1{
    color:Red;
    font-size: 30px;
}
h2{
    color:green
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color:crimson;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-direction: row; 
}

.container > div {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
}



