body{
    background-color: #e6e6fa}

h1{
    color: rgb(240, 197, 5);
    font-size: 35px;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
}

p{
    color: white;
    font-size: 30px;
    text-align: center;
}

form div{
    font-size: 25px;;
}

form button{
    font-size: 25px;;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

   
}

.form {
    width: 900px; 
    padding: 20px; 
    background-image: linear-gradient(to bottom right, #87CEEB 40%, #FFD700); 
        border: 5px solid black;
    text-align: center;
    align-self: center; }

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
}


body {
    background-image: url("./bg.webp");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0; 
    padding: 0; }