body{
    background-color: #e6e6fa}

h1{
    color:crimson;
    font-size: 35px;
    text-align: center;
}

p{
    color: blue;
    font-size: 30px;
    text-align: center;
}

form div{
    font-size: 25px;;
}

form button{
    font-size: 25px;;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

   
}

.form {
    width: 900px; 
    padding: 20px; 
    background-color: wheat; 
    
    text-align: left; }