{%extends "home.html"%}
{% load static %}
{% block title  %}About{% endblock  %}

{% block header  %}About me{% endblock  %}
{% block css %}<link rel="stylesheet" href="{%static './About.css'%}" /> {% endblock %}

{% block content  %}
    <h2>Welcome</h2>
    <div class="container">
        <div>
            <a href="{% url 'home' %}">Home</a>

        </div>
        {%if not user.is_authenticated %}
        <div>
            <a href="{% url 'button1' %}">Login</a>
          
        </div>
        <div>
            <a href="{% url 'signup' %}">Register</a>

        </div>
        {% endif %} 
        {%if user.is_authenticated %}
        <div>
            <a href="{% url 'button2' %}">Logout</a>
    
        </div>
        {% endif %}
        <div>

            <a>Test</a>          
        </div>
      
        <div>
            <a href="{% url 'about' %}">About us</a>

        </div>
    </div>
<div class="abc">   
    <div class="card">
        <p>I am Sooryansh Singh</p>
        <p>NIT Durgapur Computer Science and Engineering</p>
        <p>I live in Varanasi Uttar Pradesh</p>
        <img src="{% static 'logo.jpg'%}" id="A" />
    </div>
</div>
{% endblock  %}   