{%extends "home.html"%}
{% load static %}
{% block title  %} Student Dashboard {% endblock %}
{% block header %}Welcmoe to your Dashboard{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static './dashboard.css' %}" />
{% endblock %}
{% block  content %}
    
    <h2>These are the exams assigned to you</h2>
 
    <ul>
        {% for exam in assigned_exams %}
            <li>
                <h3><a href="{% url 'test_with_chat' exam_id=exam.id %}">{{ exam.title }}</a></h3>
                <p>{{ exam.description }}</p>
            </li>
        {% empty %}
            <li>No exams assigned yet.</li>
        {% endfor %}
    </ul>

{% endblock%}