
{% load static %}
<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home Page {% endblock %} </title>
   
    {% block css%}<link rel="stylesheet" href="{%static './home.css'%}" />{% endblock %}
</head>
<body>

    <h1>
        {% block header %}
        Welcome to our test portal!
    {% endblock %}</h1>
    {% block content%}  

    <h2>Unlock Your Potential, One Test at a Time!</h2>
    <div class="container">
        {%if not user.is_authenticated %}
        <div>
            <a href="{% url 'button1' %}">Login</a>
          
        </div>
        <div>
            <a href="{% url 'signup' %}">Register</a>

        </div>
        {% endif %} 
        {%if user.is_authenticated %}
        <div>
            <a href="{% url 'button2' %}">Logout</a>
    
        </div>
        {% endif %}
        <div>

            <a>Test</a>          
        </div>
      
        <div>
            <a href="{% url 'about' %}">About us</a>

        </div>
    </div>
    <p>Kindly login with the correct creditionals to access the appropriate interface</p>   
    <p>Companies can organise tests on our platform for  recruitment purposes or as per their needs in proper supervision of a proctor</p>


    <img src="{% static '1st.jpg'%}" id="A" />
    <img src="{% static '2nd.jpeg'%}" id="B" />


    <p></p>
    
    {% endblock %}
</body>
</html>