<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./home.css" />
</head>
<body>
    <h1>Welcome to our test portal!</h1>
    <h2>Unlock Your Potential, One Test at a Time!</h2>
    <div>
        <div>
            <a>Login</a>
            
        </div>
        <div>
            <a>Test</a>a>
        </div>
        <div>
           <a></a> Admin</div></a>
        </div>
        <div>
            <a>About us</div>a>

        </div>
    </div>
    <p>Kindly login with the correct creditionals to access the appropriate interface</p>
    <p>Companies can organise tests on our platform for  recruitment purposes or as per their needs in proper supervision of a proctor</p>
    
</body>
</html>