{%extends "home.html"%}
{% load static %}

{% block title  %} Login {% endblock %}
{% block css %}<link rel="stylesheet" href="{%static './login.css'%}" />{% endblock %}
{% block header %}LOGIN PAGE{% endblock %}
{% block content %}<p>Kindly login with your creditionals to access the interface</p>
<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}

