{%extends "home.html"%}
{% load static %}

{% block title  %} Login {% endblock %}
{% block css %}<link rel="stylesheet" href="{%static './login.css'%}" />{% endblock %}
{% block content %}<p>Kindly login with your creditionals to access the interface</p>
{% for message in messages %}
    {% if message.message == "Invalid information. Please try again" %}
        <p>{{ message.message }}</p>
    {% endif %}
{% endfor %}
<div class="container">
<div class='formdiv'>
<img src="{%static 'lock.png'%}">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Login</button>
    </form>
</div>
</div>


{% endblock %}

