header{
    font-family: Arial, sans-serif;
    color: brown;
}
p{
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;}
.container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
}

.container form h1 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.container form label {
    display: block;
    margin-bottom: 5px;
}

.container form input {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.container form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container form button:hover {
    background-color: #0056b3;
}
