{% extends "home.html" %}

{% load static %}

{% block title %}Create Question{% endblock %}
{% block header %}Create a Question{% endblock %}
{% block css %}<link rel="stylesheet" href="{%static './question_create.css'%}" /> {% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <label for="text">Question Text:</label>
    <textarea id="text" name="text" required></textarea><br>
    <label for="question_type">Question Type:</label>

    <button type="submit">Create</button>
  </form>
{% endblock %}
